/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.button {
  display: block;
  color: var(--accent-color-1);
  text-decoration: none;
  padding: 16px 16px;
  // max-width: 16rem;
  // width: 100%;
  box-sizing: border-box;
  background: var(--base-color-1);
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 4px 10px 0 rgba(var(--accent-color-7), 0.24);
  text-align: center;
  border: 2px solid var(--accent-color-1);

  svg {
    // display: inline-block;
    width: 16px;
    height: 16px;
  }

  @media only screen and (min-width: 850px){
    &_mobile {
      display: none;
    }
  }
  @media only screen and (max-width: 850px){
    &_desktop {
      display: none;
    }
  }
}
