/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */


@lost flexbox flex;



.welcomePage_wrapper {
  background: var(--base-color-1) url("../../assets/svg/tz-bg.svg") no-repeat;
  min-height: 100vh;
  background-position-y: -1107px;
  background-position-x: center;
  overflow: hidden;
}

.welcomePage__toggleTheme {
  position: relative;
  top: -15px;
  left: 0px;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .welcomePage_wrapper {
    background-position-y: 50%;
  }

  .welcomePage__toggleTheme {
    left: 35px;
    top: 8px;
  }
}

.welcomePage {
  lost-center: 1200px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  .welcomePage__header {
    lost-align: center;
    scale: 2;
    position: relative;
    top: -33px;
  }

  .welcomePage__content {
    display: flex;
    margin-top: 10rem;
  }

  .welcomePage__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;

    a {
      text-decoration: none;
      color: var(--contrast-color-2);
      margin-bottom: 3rem;
    }

    a:last-child {
      margin-bottom: 0;
    }

    .welcomePage__links__header {
      font-size: 2.5rem;
      line-height: 1.4;
      color: var(--contrast-color-2);
      transition: color 0.1s ease-in-out;
      margin-bottom: 0.2rem;
    }

    a:hover {
      .welcomePage__links__header {
        color: var(--accent-color-2);
      }
    }

    .welcomePage__links__content {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }

  .welcomePage__period {
    flex: 1;
    display: flex;
    flex-direction: column;
    lost-align: center;

    .welcomePage__period__header {
      font-size: 1.5rem;
      font-weight: 500;
      opacity: 0.5;
      color: var(--contrast-color-2);
      margin-bottom: 1em;
    }

    .welcomePage__period__status {
      display: flex;
      align-items: center;
      margin-bottom: 1.5em;
      margin-top: 1.5rem;
      min-width: 280px;

      svg {
        margin-right: 1rem;
      }
      .welcomePage__period__status__stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        min-height: 50px;
        width: 100%;
        div:nth-child(1){
          width: 60%;
          justify-content: flex-start;
        }
        div:nth-child(2){
          width: 40%;
          justify-content: flex-end;
        }
        .welcomePage__period__status__stats__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 50%;
          svg {
            margin-right: 0.5rem;
          }
          label {
            font-size: 1.3rem;
            color: var(--contrast-color-2);
            font-weight: 500;
            opacity: 0.7;
            min-width: 5rem;
          }
        }
      }
    }

    .welcomePage__period__button {
      font-size: 1.25em;
      margin-bottom: 1.5em;
    }

    .welcomePage__period__timeTracker {
      margin-bottom: 2em;
    }

    .welcomePage__period__remaining {
      font-size: 1.2rem;
      color: var(--contrast-color-2);
    }
  }

  @media only screen and (max-width: 768px) {
    .welcomePage__content {
      flex-direction: column-reverse;
      margin-top: 5rem;
    }

    .welcomePage__links {
      align-items: center;
      margin-top: 5rem;
      a {
        text-align: center;
      }
    }
  }
}
