/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.bakers, .votes, .nonvoters {
  background: var(--base-color-1);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--contrast-color-6);
  border-collapse: collapse;
  max-width: 1215px;
  table-layout: fixed;

  thead {
    font-size: 14px;

    color: rgba(var(--contrast-color-2-rgb), 0.5) !important;

    tr {
      border-bottom: 1px solid var(--flat-color-3);
    }

    th {
      text-align: left;
      padding: 1.375em 0.5em;
      line-height: 1.5em;
      color: rgba(var(--contrast-color-2-rgb), 0.5);
      font-weight: normal;
      cursor: pointer;

      &:first-child {
        padding-left: 2rem;
      }

      &:last-child {
        padding-right: 2rem;
      }

      svg {
        margin-left: 6px;

        &.up {
          transform: scale(-1);
        }
      }
    }

    .name {
      width: 50%;
    }

    .vpower, .decision, .date {
      text-align: center;
    }

    .vpower {
      width: 150px;
    }

    .decision {
      width: 150px;
    }
  }

  tbody {
    font-size: 15px;

    tr {
      border-bottom: 1px solid var(--flat-color-3);
    }

    tr:last-child {
      border-bottom: none;
    }

    td {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgba(var(--contrast-color-2-rgb), 0.5);

      padding: 1.5em 0.5em;

      line-height: 1.25em;

      &:first-child {
        padding-left: 4rem;
      }

      &:last-child {
        padding-right: 2rem;
      }
    }

    .name {
      color: initial;
      position: relative;

      img, .no_user {
        height: 2rem;
        width: 2rem;
        left: 1rem;
        top: 1rem;
        position: absolute;
      }
    }

    .date, .vpower, .decision {
      text-align: center;
    }

    .proposalTitle {
      text-align: center;
    }

  }
}

.bakers, .votes {
  tbody .name {
    img, .no_user {
      top: 2rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .bakers, .votes, .nonvoters {
    thead {

      th:first-child {
        padding-left: 1.5rem;
      }

      th:last-child {
        padding-right: 1.5rem;
      }

      .date {
        display: none;
      }

      .decision {
        width: 80px;
        padding-right: 0.5rem;
      }
    }
    tbody {
      td:first-child {
        padding-left: 1.5rem;
      }

      .name {
        img, .no_user {
          display: none;
        }
      }

      .date {
        display: none;
      }

      .decision {
        width: 80px;
        padding-right: 0.5rem;
      }
    }
  }
}
