/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.noProposals {
  flex: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--base-color-1);
  font-size: 1.5em;
  color: rgba(var(--contrast-color-2-rgb), 0.5);
}
