/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.periodPage__header {
  position: relative;
  padding-bottom: 1.5rem;
  &::before {
    z-index: -100;
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(to bottom, var(--base-color-1), rgba(var(--base-color-1), 0));
  }
}
