/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "proposals";
@import "PeriodPage";
@import "bakers";

.period__primaryInfo > div {
  display: flex;
}

.proposalInfo__description {
  flex: 9;
  margin-right: 1.5rem;
}

.proposalInfo__details {
  flex: 10;
}

.proposalInfo__votersInfo {
  margin-top: 1.5rem;
}

.proposalInfo__proposalCard {
  margin-bottom: 2.25rem;
}

@media only screen and (max-width: 850px) {
  .period__primaryInfo > div {
    flex-direction: column;
  }

  .proposalInfo__description {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
