/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "proposals";

.period__primaryInfo > div {
  display: flex;
}

.testing__description {
  flex: 9;
  margin-right: 1.5rem;
}

.testing__countdown {
  flex: 10;
}

@media only screen and (max-width: 850px) {
  .period__primaryInfo > div {
    flex-direction: column;
  }

  .testing__description {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
