/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.tracker {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 85px;
  box-sizing: content-box;
}

.tracker__body {
  padding: 0;
  cursor: pointer;

  * {
    user-select: none;
  }
}

.tracker__info {
  display: flex;
  text-align: center;
  align-items: center;
  position: relative;
}

.tracker__info__item {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  height: 102px;
  position: relative;

  &:last-child::before {
    content: "";
    border-left: 1px solid var(--contrast-color-1);
    position: absolute;
    top: 1.75rem;
    bottom: 1.75rem;
    left: 0;
  }

  span {
    margin-top: 0.2rem;
    color: var(--flat-color-1);
    font-size: 14px;
    font-weight: normal;
  }
}

.tracker__info__connector {
  background: var(--flat-color-1);
  position: absolute;
  bottom: 2.2rem;
  left: 0;
  height: 1px;
}

.tracker__bar {
  height: 8px;
  margin: 0 -1px;
  z-index: -1;
  background: rgba(var(--accent-color-7), 0.1);

  > div {
    height: 100%;
    background: var(--accent-color-2);
  }

  &.hidden {
    display: none;
  }
}

@media only screen and (max-width: 850px){
  .tracker__info__item {
    font-size: 18px;
    height: 75px;
  }

  .tracker__info__connector {
    bottom: 1.5rem;
  }
}
