/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */



.proposalDescription__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.proposalDescription__body {
  font-size: 18px;
  margin-top: 0.5rem;
  color: var(--accent-color-5);
  line-height: 28px;
}
