/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.explorationVoters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.explorationVoters__chart {
  object-fit: cover;
  margin-top: 1rem;
  width: 100%;
  display: block;
}

.explorationVoters__tracker {
  margin-top: 2rem;
}
