/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.pieChart__discourse {
  text-align: center;
}

.pieChart__graph {
  max-width: 224px;
}

.pieChart__body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pieChart__body__main {
  display: flex;
  margin-bottom: 3rem;

  justify-content: center;
  align-items: center;
  flex: 1;
}

.pieChart__legend {
  max-width: 10rem;
  ul {
    padding-left: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pieChart__legend__circle {
  width: 10px;
  height: 10px;
  border: 2px solid green;
  border-radius: 100%;
  display: inline-block;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .pieChart__body {
    padding: 0;
  }
}
