/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(var(--contrast-color-2-rgb), 0.16), 0 0 8px 0 rgba(var(--contrast-color-2-rgb), 0.08);
  min-width: 0;
  background: var(--base-color-1);
  overflow: hidden;
}

.card__header {
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #b2c1c9;
}

.card__body {
  flex: 1;
  padding: 1.5rem;
}
