/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;

  > * {
    max-width: 1215px;
    width: 100%;
  }
}
