/*
 * SPDX-FileCopyrightText: 2019-2021 Tocqueville Group
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.header {
  display: flex;
  color: var(--contrast-color-1);
  border-bottom: 1px solid var(--flat-color-4);
  padding: 1rem 0;
  margin-bottom: 1.5rem;
}

.header__logo {
  display: flex;

  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.3em;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--contrast-color-1);
  }
  svg {
    height: 38px;
    margin-right: 0.5rem;
  }
}

.header__links {
  margin-left: auto;
  display: flex;
  a {
    display: flex;
    align-items: center;
    color: var(--contrast-color-1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 1.125rem;
  }

  a:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}

.header__expandMenuButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  > svg {
    padding: 1.5rem;
    box-sizing: content-box;
    cursor: pointer;
  }
}

.header__menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 150;
  position: fixed;
  display: none;
  flex-direction: column;
  background: var(--base-color-1);

  &::before {
    content: ' ';
    position: absolute;
    width: 3150px;
    height: 4320px;
    top: calc(-2200px + 50vh);
    left: calc(-1581px + 50vw);
    background: linear-gradient(to bottom, var(--base-color-1), rgba(var(--base-color-1), 0)),
      url("../../../assets/svg/tz-bg.svg") no-repeat;
    background-position-x: center;
    z-index: -1;
  }

  .header__logo {
    margin: 3.375rem 0 0;
    flex: 0;
  }
}

.header__menu_open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  > a {
    font-size: 1.5rem;
    line-height: 2.125rem;
    margin-bottom: 2em;
    text-decoration: none;
    color: var(--contrast-color-2);
  }
}

@media only screen and (max-width: 768px){
  .header__logo {
    margin: auto;
  }
  .header__links {
    display: none !important;
  }

  .header__expandMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

.header__logo__img {
}

.header__menu__closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5rem;
  cursor: pointer;
}
