/*
 * SPDX-FileCopyrightText: 2023 Tezos Commons
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.invertible_svg {
  fill: var(--accent-color-1);
  stroke: var(--accent-color-1);
}

[data-theme="dark"] .logo_svg {
  filter: invert(1);
}

[data-theme="dark"] .proposal_status_icon_svg {
  fill: var(--contrast-color-1);
}


